table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
main table tr:hover{
    background-color: rgb(39, 150, 8);
    color: aliceblue;
}
.searchMatched{
    color: White;
    background-color: darkgreen;
}